* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;

  width: inherit;
  margin: 0 .5rem;

  justify-content: space-around;
  align-items: center;
}

.graph {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: calc(100vw * 1/4);
  max-width: calc(100vw * 3/4);
  height: 100vh;
  margin: 0 1vw;

  justify-content: space-around;
  align-items: center;
}

figure {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  justify-content: center;
}

figcaption {
  position: absolute;

  width: inherit;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  pointer-events: none;
}

select {
  width: 100%;
}

.operator {
  margin: 0 2rem;
}

.leftMost,
.rightMost {
  margin: 0 1vw;
}

.addGraph {
  display: flex;

  width: 2vw;
  height: 2vw;
  padding: 0;
  padding-bottom: 0.3vw;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;

  border: 2px solid #444;
  border-radius: 100%;
  outline: none;
  background: none;

  font-size: 2rem;
  line-height: 0;

  justify-content: center;
}

.addGraph[disabled] {
  color: #888;
  border-color: #888;
}

.plot {
  width: inherit;
  height: 30vh;
}

.axis path,
.axis line {
  fill: none;
  stroke: #444;
  shape-rendering: crispEdges;
}

.line,
.marker {
  fill: none;
  stroke-width: 1.5px;
  stroke: #444;
}

.marker {
  display: none;
}

.marker-bar {
  stroke: #888;
  stroke-dasharray: 5, 5;
}

[class^='lCone'] {
  stroke: #f00;
}

[class^='mCone'] {
  stroke: #0f0;
}

[class^='sCone'] {
  stroke: #00f;
}

.ri {
  stroke: #444;
}

.overlay {
  pointer-events: all;

  fill: none;
}

text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
